@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

.background {
    z-index: -99;
    position: fixed;
    width: 100%;
    height: 100vh;
}

.background img {
    width: 100%;
    height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.cart {
    align-self: flex-end;
    margin-bottom: 10px;
}

.container-left {
    border: 4px solid rgb(27, 27, 27);
    padding: 20px;
    background-color: #cfd5e6c3;
    width: 50%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.product-cart-heading {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 0px 8px;
    color: #000000;
    width: 100%;
}

.product {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 15px 8px;
    margin: 5px 0;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
}

.product div {
    font-weight: bold;
}

.container-left button {
    background-color: #6b63db;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    color: white;
    border: none;
    font-weight: bold;
}

.plus,
.minus {
    padding: 3px 5px;
    flex-grow: 0.5;
    font-size: 18px;
}

.plus:hover,
.minus:hover {
    cursor: pointer;
}

.plus {
    background-color: #62419e;
    border-radius: 0 20px 20px 0;
}

.minus {
    background-color: #62419e;
    border-radius: 20px 0 0 20px;
}

.plus:active,
.minus:active {
    transform: scale(1.2);
}

#items {
    padding: 0 5px;
}

.Checkout h1 {
    background-color: #613987;
    margin: 50px 0 0;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 35px;
    color: black;
}

.Checkout h1:hover {
    cursor: pointer;
    transform: scale(105%);
}

.Checkout h1:active {
    transform: scale(90%);
}

.product img {
    width: 60px;
}

.container_right {
    border: 4px solid rgb(27, 27, 27);
    padding: 20px;
    background-color: white;
    width: 50%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.close {
    align-self: flex-end;
}

.container_right h1 {
    text-align: center;
}

.product .product_id {
    display: none;
}

#table_body {
    width: 100%;
    padding: 2px;
}

#table_body td {
    text-align: left;
    padding: 5px 0;
}

#table_body tr {
    margin: 50px 0;
    border-bottom: 2px soild black;
}

#table {
    width: 100%;
    border-collapse: collapse;
}

.table-container {
    display: flex;
    flex-direction: column;
    flex-grow: 0.8;
    height: 150px;
}

.table-container p {
    text-align: center;
}

.total {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 10px;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    align-items: center;
    font-weight: 600;
}

.total p {
    padding: 5px 0;
}

.cardDetails h1 {
    margin: 20px 0 0;
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 35px;
}

.cardDetails h1:hover {
    cursor: pointer;
}

.cardDetails h1:active {
    transform: scale(97%);
    background-color: #000000;
    color: #E8BC9D;
}

.close,
.cart {
    display: none;
}

@media screen and (max-width:750px) {
    .container_right {
        position: absolute;
        box-shadow: 0 0 500px 100px black;
        display: none;
        width: 80%;
    }
    .container-left {
        width: 80%;
        max-width: 100%;
    }
    .close,
    .cart {
        display: block;
    }
}

.editing {
    color: rgb(0, 0, 0);
    position: relative;
    background-color: #e9dbdb;
    padding: 0 6px;
    border-radius: 15px;
}